body{
    background-color: #ccc;
    font-family: 'Montserrat', sans-serif;
}
.title{
    font-size: 25;
    font-weight: 700;
    color: #303030;
}
.subhead{
    font-size: 14;
    font-weight: 400;
    color: #000;
}